defaults/flow.json
[{"id":"b5d51e29.c79f9","type":"watson-translator","z":"497e2fff.1bd4a","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":525,"y":142,"wires":[["aff6dc12.042da"]]},{"id":"30792e36.0a207a","type":"inject","z":"497e2fff.1bd4a","name":"Translate","topic":"","payload":"Hello I am Watson. I am very happy to translate you this message. Have a lovely day. Bye.","payloadType":"str","repeat":"","crontab":"","once":false,"x":165.5,"y":144,"wires":[["b5d51e29.c79f9"]]},{"id":"c6463aa3.8798b8","type":"comment","z":"497e2fff.1bd4a","name":"NEW nodes for Language Translator service (and Identify)","info":"","x":273,"y":56,"wires":[]},{"id":"aff6dc12.042da","type":"debug","z":"497e2fff.1bd4a","name":"","active":true,"console":"false","complete":"false","x":737,"y":142,"wires":[]},{"id":"76ac3410.75b8bc","type":"watson-translator-util","z":"497e2fff.1bd4a","name":"","x":219,"y":798,"wires":[[]]},{"id":"8b52dc94.71aee","type":"function","z":"497e2fff.1bd4a","name":"dynamic config","func":"msg.srclang='en';\nmsg.destlang='fr';\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":182,"wires":[["b5d51e29.c79f9"]]},{"id":"aa815386.0b8e3","type":"inject","z":"497e2fff.1bd4a","name":"Translate","topic":"","payload":"Hello I am Watson. I am very happy to translate you this message. Have a lovely day. Bye.","payloadType":"str","repeat":"","crontab":"","once":false,"x":165.5,"y":182,"wires":[["8b52dc94.71aee"]]},{"id":"b851d1c8.7240e","type":"watson-language-translator-identify","z":"497e2fff.1bd4a","name":"","x":365,"y":338,"wires":[["4dc08adf.44f5ec","b7078a61.e2974"]]},{"id":"caacb0b9.d2c0d8","type":"inject","z":"497e2fff.1bd4a","name":"NL text","topic":"","payload":"hallo dit is een test","payloadType":"str","repeat":"","crontab":"","once":false,"x":132.5,"y":346,"wires":[["b851d1c8.7240e"]]},{"id":"ab9ceeb1.68bf98","type":"comment","z":"497e2fff.1bd4a","name":"IDENTIFY LANGUAGES","info":"","x":167,"y":265,"wires":[]},{"id":"4dc08adf.44f5ec","type":"debug","z":"497e2fff.1bd4a","name":"","active":true,"console":"false","complete":"lang","x":562,"y":336,"wires":[]},{"id":"cb718957.7a7ea8","type":"comment","z":"497e2fff.1bd4a","name":"LANGUAGE TRANSLATION. (ex: EN to FR)","info":"","x":223.5,"y":95,"wires":[]},{"id":"dd84f73.208ee08","type":"inject","z":"497e2fff.1bd4a","name":"FR text","topic":"","payload":"Bonjour ceci est un test","payloadType":"str","repeat":"","crontab":"","once":false,"x":133.5,"y":386,"wires":[["b851d1c8.7240e"]]},{"id":"ad24b229.8eb9e8","type":"inject","z":"497e2fff.1bd4a","name":"EN text","topic":"","payload":"hello, this is a test !","payloadType":"str","repeat":"","crontab":"","once":false,"x":132.5,"y":306,"wires":[["b851d1c8.7240e"]]},{"id":"b7078a61.e2974","type":"debug","z":"497e2fff.1bd4a","name":"","active":true,"console":"false","complete":"languages","x":583.5,"y":379.5,"wires":[]},{"id":"290e1afc.a2190e","type":"comment","z":"497e2fff.1bd4a","name":"TRAINING MODE","info":"The example below is used to use the new Training feature of the Language Translation service.","x":146,"y":451,"wires":[]},{"id":"7fac764a.a3e148","type":"inject","z":"497e2fff.1bd4a","name":"getStatus","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150.5,"y":577,"wires":[["f2d3fe68.9db5e8"]]},{"id":"d70af3cf.49a6b","type":"debug","z":"497e2fff.1bd4a","name":"","active":true,"console":"false","complete":"payload","x":587.5,"y":577,"wires":[]},{"id":"81d4cff4.6a39a","type":"inject","z":"497e2fff.1bd4a","name":"Train","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140.5,"y":493,"wires":[["bfeb78eb.ad9fb"]]},{"id":"bfeb78eb.ad9fb","type":"dropbox","z":"497e2fff.1bd4a","dropbox":"","filename":"glossary.tmx","name":"Glossary","x":290.5,"y":493,"wires":[["d586cf1d.360ac8"]]},{"id":"487e2fa8.c77298","type":"debug","z":"497e2fff.1bd4a","name":"","active":true,"console":"false","complete":"payload","x":675.5,"y":493,"wires":[]},{"id":"f4e099a4.acade8","type":"inject","z":"497e2fff.1bd4a","name":"Delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140.5,"y":657,"wires":[["a7df27f7.9d359"]]},{"id":"debcf008.f63208","type":"debug","z":"497e2fff.1bd4a","name":"","active":true,"console":"false","complete":"true","x":562.5,"y":657,"wires":[]},{"id":"d586cf1d.360ac8","type":"watson-translator","z":"497e2fff.1bd4a","name":"","action":"train","basemodel":"en-fr","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"en-fr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":475.5,"y":492.5,"wires":[["487e2fa8.c77298"]]},{"id":"f2d3fe68.9db5e8","type":"watson-translator","z":"497e2fff.1bd4a","name":"","action":"getstatus","basemodel":"ar-en","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"b8f0e247-bec7-42e6-af3e-e9ec37ba088c","lgparams2":true,"ldparamshidden2":"true","x":358.5,"y":576.5,"wires":[["d70af3cf.49a6b"]]},{"id":"a7df27f7.9d359","type":"watson-translator","z":"497e2fff.1bd4a","name":"","action":"delete","basemodel":"ar-en","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"b8f0e247-bec7-42e6-af3e-e9ec37ba088c","lgparams2":true,"ldparamshidden2":"true","x":357.5,"y":657.5,"wires":[["debcf008.f63208"]]},{"id":"fe79a147.0d83c8","type":"comment","z":"497e2fff.1bd4a","name":"Language Translator UTIL NODE","info":"The example below is used to use the new Training feature of the Language Translation service.","x":197,"y":732,"wires":[]}]
